<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple BlockMirror Example</title>
    <script>var input_code = 'class X:\n    """Hello world"""\n    def add(self, a, b):\n        a = 0\n        return a\n\nx = X()\nx.add(5,3)';</script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>

    <!-- Blockly -->
    <script src="{{ url_for('static', filename='blockly_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='blocks_compressed.js') }}"></script> 
    <script src="{{ url_for('static', filename='en.js') }}"></script>
    <script src="{{ url_for('static', filename='python_compressed.js') }}"></script>
    

    <!-- CodeMirror -->
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullscreen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='show-hint.css') }}">
    <script src="{{ url_for('static', filename='codemirror.js') }}"></script> 
    <script src="{{ url_for('static', filename='show-hint.js') }}"></script>
    <script src="{{ url_for('static', filename='python-hint.js') }}"></script>
    <script src="{{ url_for('static', filename='fullscreen.js') }}"></script>
    <script src="{{ url_for('static', filename='python.js') }}"></script>
    

    <!-- Skulpt -->
    <script src="{{ url_for('static', filename='skulpt_parser.js') }}"></script>


    <!-- BlockMirror -->
    <link rel="stylesheet" href="{{ url_for('static', filename='block_mirror.css') }}">
    <script src="{{ url_for('static', filename='block_mirror.js') }}"></script>
  

</head>
<body>
<button id='go'>GO</button>
<button id='make-image'>Make Image</button>
<div id="image-spot"></div>
<div style="width:900px; margin:0 auto;"
     id='example-frame'>

    <div class="btn-group" data-toggle="buttons" data-bind="visible: !assignment.upload()">
        <label onclick="editor.setMode('block');">
            <input type="radio" name="blockpy-mode-set" autocomplete="off"> Blocks
        </label>
        <label onclick="editor.setMode('split');">
            <input type="radio" name="blockpy-mode-set" autocomplete="off" checked> Split
        </label>
        <label onclick="editor.setMode('text');">
            <input type="radio" name="blockpy-mode-set" autocomplete="off"> Text
        </label>
    </div>

    <div class="btn-group" data-toggle="buttons" style="display: inline-block">
        <label>
            <input type="checkbox" name="blockpy-mode-set" checked
                   onclick="editor.setImageMode(!editor.configuration.imageMode);">
            Image Mode
        </label>
    </div>


    <div id="blockmirror-editor"></div>

    <div id="pythoninterpreter">
        <form method="post">
            <textarea id = "code" name="code" rows="10" cols="50" placeholder="Enter your Python code here..."></textarea>
            <br>
            <input type="submit" value="Run">
        </form>
        <pre>{{ output }}</pre>

        </div>
    <p id="check"></p>
</div>


<script type="text/javascript">
    var editor = new BlockMirror({
        'container': document.getElementById('blockmirror-editor'),
        blocklyMediaPath: "{{ url_for('static', filename='media') }}",
        imageMode: true,
        imageDownloadHOok: (oldUrl) => {
            return oldUrl;
        },
        imageUploadHook: (blob) => {
            return Promise.resolve("Image("+JSON.stringify(URL.createObjectURL(blob))+")");
        },
        imageLiteralHook: (oldUrl) => {
            return `Image("${oldUrl}")`;
        },
        //'height': '2000px'
    });
    editor.addChangeListener(function (event) {
        console.log(event["value"])
        document.getElementById("code").textContent = event["value"];

    });
    // editor.setCode(input_code);

    Sk.configure({
        __future__: Sk.python3,
        read: function (filename) {
            if (Sk.builtinFiles === undefined ||
                Sk.builtinFiles["files"][filename] === undefined) {
                throw "File not found: '" + filename + "'";
            }
            return Sk.builtinFiles["files"][filename];
        }
    });

    $("#make-image").click(function() {
        editor.blockEditor.getPngFromBlocks((u, i)=> $("#image-spot").html(i));
    });

  

    var written_code  = editor.textEditor.getCode().trim();
   editor.textEditor.setHighlightedLines(1, 'bold');
</script>

  
    
    <!-- <script>
        document.getElementById('smth').addEventListener('input', function(event) {
            // Update the outputText div with the typed text
            document.getElementById('code').innerHTML = event.target.value;
        });
    </script> -->
</body>
</html>
